@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@1,300&family=Righteous&family=Sen&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');




* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.contenedor_header {
    background: transparent;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
}

.contenedor_header header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;


}

.logo_img img {
    height: 50px;
}

.contenedor_header header nav ul {
    display: flex;
    align-items: center;
    padding: 5px;
}

.contenedor_header header nav ul li {
    padding: 10px;
    margin: 0px 8px;
    border-radius: 20px;
}

.contenedor_header header nav ul li a {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-decoration: none;
}

.nav-responsive {
    color: transparent;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*SEC 1*/
.inicio {
    min-height: 100vh;
    background-color: #ffffff;
    position: relative;
}

.svg1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0.1;
}

.contenido_inicio {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.contenido_inicio h1 {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3em;
    text-decoration: none;
}

.spanInmobiliaria {
    color: rgb(249, 183, 0);
}

.spanTandil {
    color: rgb(249, 183, 0);
}

.contenido_inicio a {
    color: rgb(249, 183, 0);
    margin-top: 30px;
    font-size: 40px;
}

.contenido_inicio a:hover {
    color: rgb(249, 183, 0);
}

.form-inline {
    display: flex;
    margin-top: 50px;
    width: 50%;
    margin-left: 300px;
}

/*NUESTRO OBJETIVO*/
.contenido_objetivo {
    scroll-margin: 3.5em;
    background-color: #ffffff;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.svg2 {
    position: absolute;
    bottom: 56%;
    left: 0;
}

.container_objetivo h2 {
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3em;

}

.spanObjetivo {
    color: rgb(249, 183, 0);
}

.container_derObjetivos {
    background-color: rgba(195, 150, 25, 0.076);
    backdrop-filter: blur(5px);
    width: 50%;
    height: 50%;
    float: right;
}

.container_izqObjetivos {
    background-color: #064b8f12;
    backdrop-filter: blur(5px);
    width: 50%;
    height: 50%;
    margin-top: 100px;
    margin-left: 25px;
    text-align: center;
    ;
}


.container_izqObjetivos h3 {
    font-size: 50px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.05em;
    color: #1E2D3B;
    text-align: center;
}

.container_izqObjetivos p {
    font-size: 20px;
    margin-top: 70px;
    letter-spacing: 0.1em;
    color: #1E2D3B;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
}

.container_derObjetivos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 25px;
    flex-direction: column;
}

.container_derObjetivos p {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
    color: #0b0b0b;
    width: 85%;
    font-family: 'Open Sans', sans-serif;
}

.svg3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 68%;
}

.btn_downTree {
    color: rgb(249, 183, 0);
    margin-top: 30px;
    font-size: 40px;

}

.btn_downTree:hover {
    color: rgb(249, 183, 0);


}

/*PORTAL*/
.contenido_portal {
    scroll-margin: 4.0em;
    min-height: 100VH;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.svg4{
    position: absolute;
    bottom: 56%;
    left: 0;

}
.svg5{
position: absolute;
bottom: 0;
left: 0;
}