@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@1,300&family=Righteous&family=Sen&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}



#loader2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: url('../IMG/carga.gif') 50% 50% no-repeat rgb(249, 249, 249);
}

.contenedor_header {
    background: transparent;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
}

.contenedor_header header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.logo_img img {
    height: 50px;
}

.contenedor_header header nav ul {
    display: flex;
    align-items: center;
    padding: 5px;
}

.contenedor_header header nav ul li {
    padding: 10px;
    border-radius: 15px;
}

.contenedor_header header nav ul li a {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
    transition: .5s;
}
.contenedor_header header nav ul li a:hover {
    color: #FABE1A;
}
.nav-responsive {
    color: #F9B700;
    font-size: 30px;
    padding: 15spx 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}



/*PORTAL*/
.contenido_portal {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 50px;
}


.svg4 {
    position: absolute;
    bottom: 0px;
    left: 0;
}


.form_Portal-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

#resultado {
    padding: 10px;
    text-align: center;
}

.resultado-card {
    text-align: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0 2px 4px #a27e1a6e;
    background-color: rgba(109, 142, 0, 0.027);
    width: 300px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.resultado-card a{
    text-decoration: none;
    list-style: none;
}

.resultado-card:hover {
    transform: scale(1.03)
}

.resultado-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;

}

.resultado-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
    font-family: 'Poppins', sans-serif;

}

.resultado-card p:first-child {
    font-weight: bold;
    font-size: 18px;
    color: #0099ff;
}

.parraforNegativo {
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;

}

.titleResultados {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 50px;
}

.label_BusPropiedadesPortal {
    font-size: 22px;
}


/* FOOTER */
footer {
    background-color:#1AA3FF;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
    position: absolute;

    width: 100%;
}

footer .redes {
    margin-bottom: 10px;
}

footer .redes a {
    color:#ffffff;
    border: 1.7px solid #A2D9FF;
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 5px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color:#1AA3FF;
    border: 1.7px solid #ffffff;
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    border-radius: 50px;
    line-height: 50px;
    font-size: 18px;
}


/*media query*/


/*media query*/
@media screen and (max-width: 998px) {


    /*SECCION NAV*/
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0px;
        top: 75px;
        background-color: rgba(44, 108, 151, 0.95);
        backdrop-filter: blur(5px);
        text-align: center;
        width: 100%;
        height:300px;
        opacity:0.9;
        transition: all .5s;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        padding: 10px;

    }

    .contenedor_header header nav ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(8, 8, 8);
        font-size: 23px;

    }

}