@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@1,300&family=Righteous&family=Sen&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');




* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: url('../IMG/carga.gif') 50% 50% no-repeat rgb(249, 249, 249);

}


.contenedor_header {
    background: transparent;
    min-width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
}

.contenedor_header header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.logo_img img {
    height: 50px;
}

.contenedor_header header nav ul {
    display: flex;
    align-items: center;
    padding: 5px;
}

.contenedor_header header nav ul li {
    padding: 10px;
    border-radius: 15px;
}

.contenedor_header header nav ul li a {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
}

.nav-responsive {
    color: #F9B700;
    font-size: 35px;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*SEC 1*/
.inicio {
    min-height: 100vh;
    background-color: #ffffff;
    position: relative;
}

.svg1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}


.contenido_inicio {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 2;
}

.contenido_inicio h1 {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.spanInmobiliaria {
    color: rgb(249, 183, 0);

}

.spanTandil {
    color: rgb(249, 183, 0);
}

.spanPorDia {
    animation: teclear 2.4s steps(80) infinite;
}

@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes efecto {
    50% {
        border-color: transparent;
    }
}




.contenido_inicio a {
    color: rgb(249, 183, 0);
    margin-top: 30px;
    font-size: 40px;
}

.contenido_inicio a:hover {
    color: rgb(249, 183, 0);
}

.form-inline {
    display: flex;
    margin-top: 50px;
    width: 50%;
    margin-left: 300px;
}

.form_index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_index>input {
    margin-top: 10px;
}

.label_BusPropiedades {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}



/*NUESTRO OBJETIVO*/
.contenido_objetivo {
    scroll-margin: 3.5em;
    background-color: #ffffff;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.svg2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
}

.container_objetivo h2 {
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2em;
}

.spanObjetivo {
    color: rgb(249, 183, 0);
}

.container_derObjetivos {
    background-color: rgba(195, 150, 25, 0.076);
    backdrop-filter: blur(5px);
    width: 50%;
    height: 50%;
    float: right;
}

.container_izqObjetivos {
    background-color: #064b8f12;
    backdrop-filter: blur(5px);
    width: 50%;
    height: 50%;
    margin-top: 100px;
    margin-left: 25px;
    text-align: center;

}


.container_izqObjetivos p {
    font-size: 19px;
    margin-top: 70px;
    letter-spacing: 0.1em;
    color: #1E2D3B;
    font-family: 'Open Sans', sans-serif;
    padding: 90px;
}

.container_derObjetivos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 25px;
    flex-direction: column;
}

.container_derObjetivos p {
    font-size: 19px;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
    color: #0b0b0b;
    width: 85%;
    font-family: 'Open Sans', sans-serif;
}

.svg3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.btn_downTree {
    color: #0099ff;
    margin-top: 25px;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;
}

.btn_downTree>i {
    font-size: 35px;
}

.btn_downTree:hover {
    color: #198754;
}

/* SECCION CONTACTO */

.svgContacto {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.contacto {
    scroll-margin: 3.5em;
    background-color: #ffffff;
    color: #000000;
    padding: 50px 0;
    position: absolute;
    width: 100%;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;

}

.contacto h3 {
    color: rgb(249, 183, 0);
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    letter-spacing: 0.05em;
    line-height: 0.03em;
    text-align: center;
    padding: 20px 0;
    margin-top: 65px;
    margin-bottom: 20px;

}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col textarea {
    resize: none;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #064b8f12;
    backdrop-filter: blur(5px);
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

.contacto button {
    cursor: pointer;
    background-color: #1AA3FF;
    border: 2px solid #A2D9FF ;
    width: 350px;
    display: block;
    margin: 0px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 20%;
    padding: 20px;
    width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #1AA3FF;
    display: inline-block;
    margin-right: 20px;
}

/* FOOTER */
footer {
    background-color:#1AA3FF;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
    position: absolute;
    margin-top: 953px;
    width: 100%;
}

footer .redes {
    margin-bottom: 10px;
}

footer .redes a {
    color:#ffffff;
    border: 1.7px solid #A2D9FF;
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 5px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color:#1AA3FF;
    border: 1.7px solid #ffffff;
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    border-radius: 50px;
    line-height: 50px;
    font-size: 18px;
}



/*media query*/
@media screen and (max-width: 998px) {

    /*SECCION NAV*/
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0px;
        top: 75px;
        background-color: rgba(44, 108, 151, 0.485);
        backdrop-filter: blur(5px);
        text-align: center;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        padding: 10px;

    }

    .contenedor_header header nav ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(8, 8, 8);
        font-size: 23px;

    }

    /*inicio*/
    .contenido_inicio h1 {
        font-size: 55px;
    }

    .form_index>label {
        font-size: 17px;
    }

    .form_index>input {
        font-size: 14px;
    }

    /*objetivos*/
    .container_derObjetivos p {
        font-size: 14.5px;
        width: 75%;

    }

    .container_izqObjetivos p {
        font-size: 15px;
        margin-top: 40px;
        padding: 70px;
    }

    .container_objetivo h2 {
        font-size: 55px;
    }

    .btn_downTree>i {
        font-size: 25px;
    }

}

/*mobile*/
@media (max-width: 700px) {
    .contenido_inicio h1 {
        font-size: 45px;
    }

    .form_index>label {
        font-size: 16px;
    }

    .form_index>input {
        font-size: 16px;
    }

    .form_index {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form_index>input {
        margin-top: 10px;
    }

    /*objetivos*/
.container_derObjetivos {
    margin-right: 0px;
}

    .container_derObjetivos p {
        font-size: 14px;
        width:83%;
        margin-top: 20px;
    }

    .container_izqObjetivos p {
        font-size: 14px;
        width: 100%;
        padding: 40px;

        margin-top: 40px;
    }

    .container_objetivo h2 {
        font-size: 45px;
    }

    .container_izqObjetivos>h3 {
        font-size: 33px;
        margin-left: 50px;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }



    .contacto .col img {
        width: 100%;
        height: 300px;
    }

    .contacto .col .info {
        position: absolute;
        top: 50%;
        padding: 20px;
        width: 300px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    footer {
        margin-top: 1272px;
    }

}